# Server
PORT=5001
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fossil_catalog
DB_USER=fossil_admin
DB_PASSWORD=CAMBIAR_ESTO

# JWT
JWT_SECRET=CAMBIAR_ESTO_POR_ALGO_SECRETO
JWT_EXPIRE=7d

# Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760

# URLs
CLIENT_URL=http://localhost:3000
API_URL=http://localhost:5001
